.centertitle {
  text-align: center;
  color: #ff9d00;
  font-family: monospace;
  font-weight: bolder;
  font-size: 40px;
  text-shadow: 0px 5px 5px #000000;
}
.content {
  margin-top: 80px;
  width: 100%;
}
.images {
  text-align: left;
  font-size: 1.3em;
  background-color: rgba(153, 153, 153, 0.8);
  padding-left: 15%;
  padding-right: 15%;
  margin-left: 10%;
  margin-right: 10%;
  float: right;
}

.navigation {
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #ff9d00;
  width: 100%;
}

.navigation a {
  text-align: center;
  text-decoration: none;
  color: white;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.school {
padding: 0;
font-size: 1em;
}

.text {
  text-align: left;
  font-size: 1.3em;
  background-color: rgba(153, 153, 153, 0.5);
  padding-left: 15%;
  padding-right: 15%;
  margin-left: 10%;
  margin-right: 10%;
  float: right;
}

li{
text-align: center;
display: inline-block;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 10px;
font-family: sans-serif;
font-size: 1.5em;
}

body{
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url(../img/wall.jpg);
  background-position: left;
  background-repeat: repeat-y;
  background-color: #eafcf9;
}

div{
  margin: 0;
  padding: 0;
}

span:hover {
  background-color: gold;
}
#henry{
  max-width: 50%;
  float: left;
  height: 200px;
  align-content: center;
}

#home {
  width: 30px;
  margin-top: 4px;
}

 #logo {
   float: left;
   padding: 1px;
   margin: 0;
 }
#order li{
  text-align: left;
  list-style-type: disc;
  display: list-item;
  font-size: 1em;
  font-weight: normal;
}



#wake {
  max-width: 50%;
  height: 200px;
  align-content: center;
  float: right;
}
